<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{% static 'css/sample.css'%}" rel="stylesheet">


<nav class="navbar navbar-head">

    <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-center">
            <li><b>Ecommerce Order Management</b></li>

        </ul>

    </div>
</nav>
</head>

{% block content%}

{% endblock %}
</html>